doctype html
html
  head
    title= "rose ins"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/index-78f274ea.css')
    link(rel='icon',type="image/svg+xml", href='/images/vite.svg')
    script(src="/javascripts/index-c318acc3.js",type="module")
  body
    block content
